<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Movie App</h1>
        <p class="lead">Bienvenidos al Universo de Star Wars</p>
    </div>
</div>
<div>
    <h5>Integrantes</h5>
    <p>Calderón Aguirre Samuel Isaías</p>
    <p>Calva Vicente Darwin Esteban</p>
    <p>Narvaez Nieto Frank Williams</p>
    <p>Ojeda Colán Diego Valentín</p>
    <p>Paredes Demera Elvis Fabricio</p>
    <p>Ramón Ramón Ricardo Alexander</p>
    <p>Torres Velepucha Jason Damian</p>
</div>